.main-content {
    padding: 80px 0 20px 0;
    background-color: $background-primary;
    color: #fff;

    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .card {
            flex-basis: 23%;
            margin: 0 1% 2rem;

            div {
                margin-top: 1rem;
            }
        }
    }
}
